<header class="main-header">
    <nav class="main-nav">
        <a href="/">
            <img src="images/PersonalBranding.svg" alt="Leo's Logo">
        </a>
        <ul>
            <li><a href="/my-experience">Experience</a></li>
            <!-- <li><a href="/portfolio">Portfolio</a></li> -->
            <li><a href="/about-me">About Me</a></li>
            <li><a href="/resume">Resume</a></li>
        </ul>
    </nav>
</header>