/*************************
Landing Section
*************************/

.landing-section {
    height: 100vh;
    min-height: 600px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.experience-landing-text {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    justify-content: center;
    margin-left: 6rem;
}

.experience-landing-text h1 {
    font-size: 3em;
    color: var(--landing-color);
}

.experience-landing-text p {
    font-size: 2em;
    color: var(--landing-color);
    margin-bottom: 4rem;
}

.experience-landing-container {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: absolute;
    background: var(--sky-gradient-night);
    display: flex;
    overflow: hidden;
    top: 0;
    z-index: -1;
}

.experience-landing-container img {
    width: min(450px, 50%);
    margin-top: auto;
    margin-left: auto;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.experience-landing-shooting-star {
    background-color: white;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-25deg);
    animation: shooting-star 10s infinite;
}

.experience-landing-shooting-star::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 100px solid white;
    margin-left: 100px;
}

@keyframes shooting-star {
    0% {
        margin-left: 100%;
        margin-top: 0;
    }
    40% {
        margin-left: 100%;
        margin-top: 0;
        opacity: 1;
    }
    50% {
        margin-left: -35%;
        margin-top: 60%;
        opacity: 0;
    }
    100% {
        margin-left: -35%;
        margin-top: 56%;
    }
}

.experience-landing-star {
    background-color: white;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    animation: blinking-star alternate infinite ease-in-out;
}

.star-0 {
    margin-left: 35%;
    margin-top: 26vh;
    animation-duration: 10s;
    animation-delay: 0.4s;
}

.star-1 {
    margin-left: 24%;
    margin-top: 44vh;
    animation-duration: 7.7s;
    animation-delay: 0s;
}

.star-2 {
    margin-left: 38%;
    margin-top: 13vh;
    animation-duration: 6s;
    animation-delay: 0.6s;
}

.star-3 {
    margin-left: 65%;
    margin-top: 30vh;
    animation-duration: 8.6s;
    animation-delay: 0.42s;
}

.star-4 {
    margin-left: 51%;
    margin-top: 40vh;
    animation-duration: 9s;
    animation-delay: 0.5s;
}

.star-5 {
    margin-left: 13%;
    margin-top: 79vh;
    animation-duration: 9.3s;
    animation-delay: 0.33s;
}

.star-6 {
    margin-left: 74%;
    margin-top: 32vh;
    animation-duration: 7.8s;
    animation-delay: 0.9s;
}

.star-7 {
    margin-left: 85%;
    margin-top: 66vh;
    animation-duration: 10.3s;
    animation-delay: 0.7s;
}

.star-8 {
    margin-left: 90%;
    margin-top: 50vh;
    animation-duration: 6.7s;
    animation-delay: 0.3s;
}

.star-9 {
    margin-left: 55%;
    margin-top: 78vh;
    animation-duration: 13.4s;
    animation-delay: 0.57s;
}

@keyframes blinking-star {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/*************************
Volunteer Sections
*************************/

.volunteer-section {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 2fr;
    grid-template-areas: "img text";
    column-gap: 3rem;
    padding: 2rem 4rem;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 800px) {
    .volunteer-section {
        grid-template-columns: 1fr;
        grid-template-rows: 350px auto;
        grid-template-areas: "img" "text";
        padding: 4rem 4rem;
    }
}

.volunteer-section h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

.volunteer-section ul {
    margin-top: 1rem;
    font-size: 1.25em;
}

.volunteer-section li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.starlight-river-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("/images/VitricSands.png");
    background-size: cover;
    backdrop-filter: brightness(0.5);
}

.starlight-river-section iframe {
    width: 100%;
}
.intention-section {
    background-color: #130f26;
}

/*************************
Intention Decoration
*************************/

.intention-square-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intention-square {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
}

@keyframes shift-1-1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-60px, -60px);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 8px 0 0 0;
    }
}

@keyframes shift-1-2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -60px);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 0 0 0;
    }
}

@keyframes shift-1-3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(60px, -60px);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 8px 0 0;
    }
}

@keyframes shift-2-1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-60px, 0);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 0 0 0;
    }
}

@keyframes shift-2-3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(60px, 0);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 0 0 0;
    }
}

@keyframes shift-3-1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-60px, 60px);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 0 0 8px;
    }
}

@keyframes shift-3-2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 60px);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 0 0 0;
    }
}

@keyframes shift-3-3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(60px, 60px);
        border-radius: 8px;
    }
    50% {
        transform: translate(0, 0);
        border-radius: 0 0 8px 0;
    }
}

.block-1-1 {
    animation: shift-1-1 2s infinite 0.75s ease-in-out;
    border-radius: 8px 0 0 0
}

.block-2-1 {
    animation: shift-2-1 2s infinite 1s ease-in-out;
}

.block-3-1 {
    animation: shift-3-1 2s infinite 1.25s ease-in-out;
    border-radius: 0 0 0 8px;
}

.block-3-2 {
    animation: shift-3-2 2s infinite 1.5s ease-in-out;
}

.block-3-3 {
    animation: shift-3-3 2s infinite 1.75s ease-in-out;
    border-radius: 0 0 8px 0;
}

.block-2-3 {
    animation: shift-2-3 2s infinite 0s ease-in-out;
}

.block-1-3 {
    animation: shift-1-3 2s infinite 0.25s ease-in-out;
    border-radius: 0 8px 0 0;
}

.block-1-2 {
    animation: shift-1-2 2s infinite 0.5s ease-in-out;
}

.block {
    height: 60px;
    width: 60px;
    background-color: #6e61fa;
}