/*************************
Landing Section
*************************/

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
}

#landing-canvas {
    position: absolute;
    top: 0;
}

.section {
    position: relative;
    height: 100vh;
    min-height: 600px;
    background: linear-gradient(to bottom, #2a5ee8, #28C2FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.landing-div {
    display: inline-grid;
    margin: 0 auto;
    height: calc(100vh - 100px);
    min-height: 500px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 13fr 7fr;
    align-items: flex-end;
    grid-template-areas: "text text main" "left right main";
    z-index: 2;
}

.landing-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.landing-text h1 {
    font-size: 3em;
    color: var(--landing-color);
}

.landing-text p {
    font-size: 2em;
    color: var(--landing-color);
}

.break-for-space {
    display: none;
}

.hills-left {
    transform: translateY(5vw);
    margin-right: 100px;
    width: 200px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    grid-area: left;
    animation: pop-up-hills-left 1s cubic-bezier(.11, .07, 0, 1.09);
}

.hills-right {
    width: 20vw;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: right;
    animation: pop-up-hills-right 1s cubic-bezier(.11, .07, 0, 1.09) forwards;
}

.hills-main {
    width: 40vw;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: main;
    height: auto;
    animation: pop-up-hills-main 1s cubic-bezier(.11, .07, 0, 1.09) forwards;
}

.character-leg {
    transform-origin: 91% 10%;
    transform-box: fill-box;
    animation: leg-swing 2s infinite alternate ease-in-out;
}

@keyframes leg-swing {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes pop-up-hills-left {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(5vw);
    }
}

@keyframes pop-up-hills-right {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(30px);
    }
}

@keyframes pop-up-hills-main {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(60px);
    }
}

@media (min-height: 600px) {
    .hills-right {
        max-width: 27.5vh;
        max-height: 35vh;
    }
    .hills-main {
        max-width: 51vh;
        max-height: 80vh;
    }
}

@media (max-height: 600px) {
    .section {
        min-height: 600px;
    }
    .landing-div {
        min-height: 500px;
    }
    .hills-right {
        max-width: 165px;
    }
    .hills-main {
        max-width: 300px;
    }
}

@media (max-width: 900px) {
    .landing-div {
        display: grid;
        margin: 0 5vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50fr auto;
        align-items: flex-end;
        grid-template-areas: "text main" "right main";
    }
    .break-for-space {
        display: inline;
    }
    .landing-text {
        margin-left: 20px;
        justify-self: center;
    }
    .hills-left {
        display: none;
    }
    .hills-right {
        width: 25vw;
        justify-self: center;
    }
    .hills-main {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .section {
        height: 120vh;
    }
    .landing-div {
        display: inline-grid;
        margin: 0 auto;
        height: calc(120vh - 100px);
        grid-template-columns: auto;
        grid-template-rows: minmax(175px, 35vh) minmax(445px, auto);
        align-items: flex-end;
        grid-template-areas: "text" "main";
    }
    .landing-text {
        text-align: center;
        margin: 0;
    }
    .hills-left {
        display: none;
    }
    .hills-right {
        display: none;
    }
    .hills-main {
        width: 80vw;
        transform: translateY(10vh);
    }
    @keyframes pop-up-hills-main {
        from {
            transform: translateY(150px);
        }
        to {
            transform: translateY(10vh);
        }
    }
    @media (max-height: 600px) {
        .section {
            min-height: 720px;
        }
        .landing-div {
            min-height: 620px;
        }
        .hills-right {
            max-width: 165px;
        }
        .hills-main {
            max-width: 300px;
            transform: translateY(60px);
        }
        @keyframes pop-up-hills-main {
            from {
                transform: translateY(150px);
            }
            to {
                transform: translateY(60px);
            }
        }
    }
}

/*************************
Experiences
*************************/

.introduction {
    min-height: 300px;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.introduction h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 2rem;
}

.volunteer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    padding: 2rem 4rem;
    height: 400px;
    align-items: center;
    position: relative;
}

.volunteer-section::before {
    --width: 24px;
    content: "";
    position: absolute;
    margin-left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    background-color: #4E5365;
}

.volunteer-section::after {
    --width: 4px;
    content: "";
    position: absolute;
    margin-left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: 100%;
    background-color: #4E5365;
}

.volunteer-section h2 {
    margin-bottom: 0.5rem;
}

.volunteer-section ul {
    margin-top: 1rem;
    font-size: 1.25em;
}

.volunteer-section li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

/*************************
Logos
*************************/

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-wobble {
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: url("#blob-shift");
}

.black-logo-bg {
    background-color: black;
}

.white-logo-bg {
    background-color: white;
}

.f1907-logo {
    width: 70%;
}

.kurius-logo {
    width: 70%;
}

.xdhacks-hexagon-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xdhacks-logo {
    width: 6vmax;
    height: auto;
}

#xdhacks-hexagon-circle {
    --gap: 1vmax;
    width: 30vmax;
    height: 28.8vmax;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr 2fr) 1fr;
    grid-gap: calc(var(--gap) * 1.1) var(--gap);
    transform: rotate(0deg);
    transition: transform 1s;
    position: absolute;
}

.hexagon-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hexagon {
    position: absolute;
    width: 100%;
    z-index: -1;
}

#hex-1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    fill: #7f7ca1;
}

#hex-2 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 3;
    fill: #7466aa;
}

#hex-3 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
    fill: #52bfc9;
}

#hex-4 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 3;
    fill: #55b3fd;
}

#hex-5 {
    grid-column: 2 / span 2;
    grid-row: 5 / span 3;
    fill: #dc5980;
}

#hex-6 {
    grid-column: 4 / span 2;
    grid-row: 5 / span 3;
    fill: #ffd049;
}


@media screen and (max-width: 800px) {
    .xdhacks-hexagon-contianer {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    
    #xdhacks-hexagon-circle {
        --gap: 22.5px;
        width: 300px;
        height: 288px;
    }
}


/*************************
Coding Experience
*************************/

.coding-experience {
    min-height: 400px;
    padding: 3rem;
    display: grid;
    grid-template-columns: minmax(350px, 30vw) 1fr;
    align-items: center;
}

.web-dev-illustration-container {
    display: inline-grid;
    grid-template-columns: minmax(300px, 25vw) minmax(50px, 5vw);
}

.web-dev-illustration-circle {
    height: 30vw;
    min-height: 350px;
    width: 25vw;
    min-width: 300px;
    border-radius: 0 0 max(300px, 12.5vw) max(300px, 12.5vw);
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
    overflow-x: visible;
}

.web-dev-illustration-circle::after {
    content: "";
    width: 25vw;
    min-width: 300px;
    height: 25vw;
    min-height: 300px;
    background-color: #2a5ee8;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.web-dev-illustration {
    transform: translateY(max(2vw, 20px));
}

.web-dev-illustration-arm {
    animation: arm-wobble 20s infinite ease-in-out alternate;
    transform-origin: 10% 77%;
    transform-box: fill-box;
    animation-timing-function: ease-in-out;
}

.web-dev-illustration-forearm {
    animation: forearm-wobble 20s infinite ease-in-out alternate;
    transform-origin: 10% 77%;
    transform-box: fill-box;
    animation-timing-function: ease-in-out;
}

.web-dev-react {
    position: absolute;
    transform-box: fill-box;
    width: 4vw;
    min-width: 50px;
    margin-left: min(-20px, -2vw);
    margin-top: max(50px, 4vw);
    animation: react 10s infinite linear;
    transition: 0.25s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.web-dev-react:hover {
    animation: react-hover 3s infinite ease-in-out;
}

.web-dev-firebase {
    position: absolute;
    width: 4vw;
    border-radius: 50%;
    min-width: 50px;
    margin-left: max(15px, 1vw);
    margin-top: max(100px, 9vw);
    animation: firebase 2s infinite linear alternate;
    transform-box: fill-box;
    transform-origin: bottom center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.web-dev-firebase:hover {
    animation: firebase-hover 2s infinite linear alternate;
}

@keyframes arm-wobble {
    0% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes forearm-wobble {
    0% {
        transform: rotate(-10deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes react {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes react-hover {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes firebase {
    0% {
        transform: skewX(-2deg);
    }
    10% {
        transform: skewX(3deg);
    }
    30% {
        transform: skewX(-5deg);
    }
    45% {
        transform: skewX(2deg);
    }
    60% {
        transform: skewX(-3deg);
    }
    70% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(-2deg);
    }
}

@keyframes firebase-hover {
    0% {
        transform: skewX(-7deg);
    }
    10% {
        transform: skewX(-5deg);
    }
    20% {
        transform: skewX(-9deg);
    }
    30% {
        transform: skewX(-15deg);
    }
    40% {
        transform: skewX(-7deg);
    }
    50% {
        transform: skewX(-9deg);
    }
    60% {
        transform: skewX(-13deg);
    }
    70% {
        transform: skewX(-9deg);
    }
    80% {
        transform: skewX(-5deg);
    }
    80% {
        transform: skewX(-11deg);
    }
    100% {
        transform: skewX(-7deg);
    }
}

@media (max-width: 850px) {
    .web-dev-illustration-container {
        margin: auto;
    }
}

.skill-list {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills div {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills div img {
    height: 70px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*************************
Volunteering Experience
*************************/

.volunteering-section {
    display: flex;
    padding: 3rem;
    min-height: 100vh;
    box-sizing: border-box;
    align-items: center;
}

.volunteering-experience {
    flex-grow: 1;
}

.volunteering-experience h2 {
    font-size: 3em;
    margin-bottom: 1rem;
}

.volunteering-experience h3 {
    font-size: 2em;
}

.volunteering-experience button {
    padding: 1rem 2rem;
    border: 2px solid white;
    color: var(--text-color);
    background-color: transparent;
    font-size: 1.5em;
    border-radius: 100px;
    margin-top: 2rem;
    transition: 0.25s;
    cursor: pointer;
}

.volunteering-experience button:hover {
    padding-right: 4rem;
}

.volunteering-experience button::after {
    content: ">>";
    margin-left: 8px;
    opacity: 0;
    position: absolute;
    transition: 0.25s;
    transform: translateX(-4px);
}

.volunteering-experience button:hover::after {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 900px) {
    .volunteering-section {
        flex-direction: column-reverse;
        text-align: center;
    }
    .volunteering-experience {
        margin-top: 2rem;
    }
    .volunteering-experience h2 {
        font-size: 2.5rem;
    }
    .volunteering-experience h3 {
        font-size: 1.75rem;
    }
}

.experience-graphic-container {
    clip-path: url("#blob-shift");
    width: 40vw;
    min-width: 40vw;
    height: 40vw;
    min-height: 40vw;
    position: relative;
    background: var(--sky-gradient-evening);
    display: flex;
    overflow: hidden;
}

.experience-graphic-container img {
    width: 70%;
    margin-top: auto;
    margin-left: auto;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.experience-graphic-sun {
    background-color: #ffffff;
    width: 5%;
    height: 5%;
    position: absolute;
    margin-left: 15%;
    margin-top: 80%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-graphic-sun::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 1000%;
    background: radial-gradient(closest-side, white 10%, #feef45 13%, #f77b02 15%, transparent);
    z-index: -1;
    border-radius: 50%;
}

.experience-graphic-shooting-star {
    background-color: white;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg);
    animation: shooting-star 10s infinite;
}

.experience-graphic-shooting-star::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 100px solid white;
    margin-left: 100px;
}

@keyframes shooting-star {
    0% {
        margin-left: 100%;
        margin-top: 20%;
    }
    40% {
        margin-left: 100%;
        margin-top: 20%;
        opacity: 1;
    }
    50% {
        margin-left: -35%;
        margin-top: 60%;
        opacity: 0;
    }
    100% {
        margin-left: -35%;
        margin-top: 56%;
    }
}

.experience-graphic-star {
    background-color: white;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    animation: blinking-star alternate infinite ease-in-out;
}

.star-0 {
    margin-left: 35%;
    margin-top: 20%;
    animation-duration: 10s;
    animation-delay: 0.4s;
}

.star-1 {
    margin-left: 24%;
    margin-top: 22%;
    animation-duration: 7.7s;
    animation-delay: 0s;
}

.star-2 {
    margin-left: 38%;
    margin-top: 13%;
    animation-duration: 6s;
    animation-delay: 0.6s;
}

.star-3 {
    margin-left: 65%;
    margin-top: 21%;
    animation-duration: 8.6s;
    animation-delay: 0.42s;
}

.star-4 {
    margin-left: 51%;
    margin-top: 23%;
    animation-duration: 9s;
    animation-delay: 0.5s;
}

.star-5 {
    margin-left: 13%;
    margin-top: 31%;
    animation-duration: 9.3s;
    animation-delay: 0.33s;
}

.star-6 {
    margin-left: 74%;
    margin-top: 22%;
    animation-duration: 7.8s;
    animation-delay: 0.9s;
}

.star-7 {
    margin-left: 85%;
    margin-top: 34%;
    animation-duration: 10.3s;
    animation-delay: 0.7s;
}

.star-8 {
    margin-left: 90%;
    margin-top: 35%;
    animation-duration: 6.7s;
    animation-delay: 0.3s;
}

.star-9 {
    margin-left: 55%;
    margin-top: 8%;
    animation-duration: 13.4s;
    animation-delay: 0.57s;
}

@keyframes blinking-star {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .experience-graphic-container {
        width: 60vw;
        min-width: 60vw;
        height: 60vw;
        min-height: 60vw;
    }
}