<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience - Leo Tian</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/experience.css">
</head>

<body>
    <section class="landing-section">
        <%- include("../templates/header") %>

        <div class="experience-landing-text">
            <h1>Forever Curious</h1>
            <p>of The World</p>
        </div>

        <div class="experience-landing-container">
            <div class="experience-landing-shooting-star"></div>
            <div class="experience-landing-star star-0"></div>
            <div class="experience-landing-star star-1"></div>
            <div class="experience-landing-star star-2"></div>
            <div class="experience-landing-star star-3"></div>
            <div class="experience-landing-star star-4"></div>
            <div class="experience-landing-star star-5"></div>
            <div class="experience-landing-star star-6"></div>
            <div class="experience-landing-star star-7"></div>
            <div class="experience-landing-star star-8"></div>
            <div class="experience-landing-star star-9"></div>
            <img src="./images/ExperienceSectionHill.svg" alt="">
        </div>
    </section>

    <section class="kurius-section volunteer-section">
        <img class="kurius-logo" src="images/KuriusLogo.png" alt="Kurius Logo" />
        <div id="kurius-experience">
            <h1>Kurius</h1>
            <h2>Events Coordinator</h2>
            <p>
                <strong>Coordination</strong> - establishing outreach, grant, and promotional goals,
                determining event logistics and platforms, setting up schedules for internal
                and external events, writing up event plans and drafts, outlining event
                activities
            </p>
            <p>
                <strong>Organization</strong> - using spreadsheets to keep track of outreach and progress,
                using tools like Notion or flow charts to communicate plans to teammates
                Outreach - cold messaging and emailing, keeping track of likely workshop
                candidates, networking in different groups, using referrals and redirections
                as an advantage to reach more qualified people
            </p>
            <p>
                <strong>Communication</strong> - Communicating with presenters to ensure they understand
                the event and are engaged, making information packages that outline
                commitments and advice, checking in with presenters on a weekly basis,
                relaying messages between speakers and executive team
            </p>
            <p>
                <strong>Cooperation</strong> - Working with other executives to ensure deadlines are met,
                communicates ideas to improve events, sets up collaborative documents to
                work on organization and coordination activities as a team
            </p>
        </div>
    </section>

    <section class="xdhacks-section volunteer-section">

        <div class="xdhacks-hexagon-contianer">
            <img class="xdhacks-logo" src="images/XdHacksLogo.png" alt="XdHacks Mini Logo" />
            <div id="xdhacks-hexagon-circle">
                <div class="hexagon-container" id="hex-1">
                    <svg class="hexagon" viewBox="0 0 65.463293 75.590552">
                        <path transform="matrix(1.3237276,0,0,1.3237276,-116.73759,-234.54175)"
                            d="m 112.92529,177.14478 c -0.12299,-0.006 -0.2455,0.0197 -0.35526,0.0756 l -24.203872,13.92858 c -0.222379,0.12657 -0.358441,0.36396 -0.355257,0.61981 l 0.3213,27.93613 c 0.0019,0.25554 0.142214,0.48995 0.366594,0.61225 l 23.873445,13.97295 c 0.21428,0.11738 0.47413,0.11511 0.68632,-0.006 l 24.20599,-13.96884 c 0.21883,-0.12457 0.35434,-0.35666 0.35526,-0.60847 l 0.002,-27.9418 c -3.3e-4,-0.25395 -0.13758,-0.48798 -0.35904,-0.61225 L 113.26078,177.2208 c -0.10297,-0.0521 -0.21719,-0.0781 -0.33258,-0.0756 z" />
                    </svg>
                </div>
                <div class="hexagon-container" id="hex-2">
                    <svg class="hexagon" viewBox="0 0 65.463293 75.590552">
                        <path transform="matrix(1.3237276,0,0,1.3237276,-116.73759,-234.54175)"
                            d="m 112.92529,177.14478 c -0.12299,-0.006 -0.2455,0.0197 -0.35526,0.0756 l -24.203872,13.92858 c -0.222379,0.12657 -0.358441,0.36396 -0.355257,0.61981 l 0.3213,27.93613 c 0.0019,0.25554 0.142214,0.48995 0.366594,0.61225 l 23.873445,13.97295 c 0.21428,0.11738 0.47413,0.11511 0.68632,-0.006 l 24.20599,-13.96884 c 0.21883,-0.12457 0.35434,-0.35666 0.35526,-0.60847 l 0.002,-27.9418 c -3.3e-4,-0.25395 -0.13758,-0.48798 -0.35904,-0.61225 L 113.26078,177.2208 c -0.10297,-0.0521 -0.21719,-0.0781 -0.33258,-0.0756 z" />
                    </svg>
                </div>
                <div class="hexagon-container" id="hex-3">
                    <svg class="hexagon" viewBox="0 0 65.463293 75.590552">
                        <path transform="matrix(1.3237276,0,0,1.3237276,-116.73759,-234.54175)"
                            d="m 112.92529,177.14478 c -0.12299,-0.006 -0.2455,0.0197 -0.35526,0.0756 l -24.203872,13.92858 c -0.222379,0.12657 -0.358441,0.36396 -0.355257,0.61981 l 0.3213,27.93613 c 0.0019,0.25554 0.142214,0.48995 0.366594,0.61225 l 23.873445,13.97295 c 0.21428,0.11738 0.47413,0.11511 0.68632,-0.006 l 24.20599,-13.96884 c 0.21883,-0.12457 0.35434,-0.35666 0.35526,-0.60847 l 0.002,-27.9418 c -3.3e-4,-0.25395 -0.13758,-0.48798 -0.35904,-0.61225 L 113.26078,177.2208 c -0.10297,-0.0521 -0.21719,-0.0781 -0.33258,-0.0756 z" />
                    </svg>
                </div>
                <div class="hexagon-container" id="hex-4">
                    <svg class="hexagon" viewBox="0 0 65.463293 75.590552">
                        <path transform="matrix(1.3237276,0,0,1.3237276,-116.73759,-234.54175)"
                            d="m 112.92529,177.14478 c -0.12299,-0.006 -0.2455,0.0197 -0.35526,0.0756 l -24.203872,13.92858 c -0.222379,0.12657 -0.358441,0.36396 -0.355257,0.61981 l 0.3213,27.93613 c 0.0019,0.25554 0.142214,0.48995 0.366594,0.61225 l 23.873445,13.97295 c 0.21428,0.11738 0.47413,0.11511 0.68632,-0.006 l 24.20599,-13.96884 c 0.21883,-0.12457 0.35434,-0.35666 0.35526,-0.60847 l 0.002,-27.9418 c -3.3e-4,-0.25395 -0.13758,-0.48798 -0.35904,-0.61225 L 113.26078,177.2208 c -0.10297,-0.0521 -0.21719,-0.0781 -0.33258,-0.0756 z" />
                    </svg>
                </div>
                <div class="hexagon-container" id="hex-5">
                    <svg class="hexagon" viewBox="0 0 65.463293 75.590552">
                        <path transform="matrix(1.3237276,0,0,1.3237276,-116.73759,-234.54175)"
                            d="m 112.92529,177.14478 c -0.12299,-0.006 -0.2455,0.0197 -0.35526,0.0756 l -24.203872,13.92858 c -0.222379,0.12657 -0.358441,0.36396 -0.355257,0.61981 l 0.3213,27.93613 c 0.0019,0.25554 0.142214,0.48995 0.366594,0.61225 l 23.873445,13.97295 c 0.21428,0.11738 0.47413,0.11511 0.68632,-0.006 l 24.20599,-13.96884 c 0.21883,-0.12457 0.35434,-0.35666 0.35526,-0.60847 l 0.002,-27.9418 c -3.3e-4,-0.25395 -0.13758,-0.48798 -0.35904,-0.61225 L 113.26078,177.2208 c -0.10297,-0.0521 -0.21719,-0.0781 -0.33258,-0.0756 z" />
                    </svg>
                </div>
                <div class="hexagon-container" id="hex-6">
                    <svg class="hexagon" viewBox="0 0 65.463293 75.590552">
                        <path transform="matrix(1.3237276,0,0,1.3237276,-116.73759,-234.54175)"
                            d="m 112.92529,177.14478 c -0.12299,-0.006 -0.2455,0.0197 -0.35526,0.0756 l -24.203872,13.92858 c -0.222379,0.12657 -0.358441,0.36396 -0.355257,0.61981 l 0.3213,27.93613 c 0.0019,0.25554 0.142214,0.48995 0.366594,0.61225 l 23.873445,13.97295 c 0.21428,0.11738 0.47413,0.11511 0.68632,-0.006 l 24.20599,-13.96884 c 0.21883,-0.12457 0.35434,-0.35666 0.35526,-0.60847 l 0.002,-27.9418 c -3.3e-4,-0.25395 -0.13758,-0.48798 -0.35904,-0.61225 L 113.26078,177.2208 c -0.10297,-0.0521 -0.21719,-0.0781 -0.33258,-0.0756 z" />
                    </svg>
                </div>
            </div>
        </div>

        <div id="xdhacks-experience">
            <h1>XdHacks Mini</h1>
            <h2>Web Developer</h2>
            <p>
                <strong>Programming</strong> - using HTML, CSS, Javascript, and Django to help make the
                website better and add on to existing content, collaborating with IT lead to
                ensure the organization’s needs are met
            </p>
            <p>

                <strong>Organization</strong> - setting up Notion documents to keep track of workflow, set up
                guidelines local IT directors, centralize important documents and ensure easy
                access
            </p>
        </div>

    </section>

    <section class="intention-section volunteer-section">

        <div class="intention-square-container">
            <div class="intention-square">
                <div class="block-1-1 block"></div>
                <div class="block-1-2 block"></div>
                <div class="block-1-3 block"></div>
                <div class="block-2-1 block"></div>
                <div class="block block"></div>
                <div class="block-2-3 block"></div>
                <div class="block-3-1 block"></div>
                <div class="block-3-2 block"></div>
                <div class="block-3-3 block"></div>
            </div>

        </div>
        <div id="intention-experience">
            <h1>Intention</h1>
            <h2>Founder and Fullstack Developer</h2>
        </div>
    </section>

</body>

</html>