<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Tian's Personal Site</title>
    <link rel="icon" href="/images/BrandingIcon.svg">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
    <section class="section">
        <canvas id="landing-canvas"></canvas>

        <%- include("../templates/header") %>
        
        <div class="landing-div">
            <div class="landing-text">
                <h1>Hi! I'm <br class="break-for-space" />Leo Tian</h1>
                <p>
                    A Fullstack Developer
                </p>
            </div>
            <img src="images/LandingPageHillsLeft.svg" class="hills-left">
            <img src="images/LandingPageHillsRight.svg" class="hills-right">
            <svg class="hills-main" width="155.12427mm" height="247.13394mm" viewBox="0 0 155.12427 247.13395">
                <g transform="translate(5,-49.866066)">
                    <ellipse
                        style="opacity:1;fill:#cfcfcf;fill-opacity:1;stroke:none;stroke-width:0.52999997;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        id="path815" cx="190.83044" cy="183.14319" rx="28.86511" ry="0" />
                    <path
                        style="opacity:1;fill:#59f03e;fill-opacity:1;stroke:none;stroke-width:0.52325976;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 78.969803,159.5107 c -39.296871,0 -71.1535405,29.6169 -71.1535405,66.15086 v 71.33845 H 150.12227 v -71.33845 c 0,-36.53396 -31.85561,-66.15086 -71.152467,-66.15086 z" />
                    <path
                        style="opacity:1;fill:#0c7c59;fill-opacity:0.25098039;stroke:none;stroke-width:0.52325845;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 78.970403,159.5107 c -2.170845,0 -4.317019,0.0954 -6.438334,0.27235 31.893901,6.54181 55.756411,32.97407 55.756321,64.59245 l -4.9e-4,72.62451 h 21.83491 l 1.1e-4,-71.33938 c 6e-5,-36.53394 -31.85571,-66.14993 -71.152407,-66.14993 z" />
                    <path
                        style="opacity:1;fill:#ffffff;fill-opacity:0.25098039;stroke:none;stroke-width:0.52325845;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 78.970403,159.5107 c -39.296651,0 -71.1541405,29.61599 -71.1541405,66.14993 v 10.56838 c -3.899e-4,-34.5163 28.4361285,-62.85245 64.7158065,-65.87758 0.521529,-0.0434 1.044398,-0.0827 1.569116,-0.11542 0.0324,-0.002 0.0645,-0.005 0.0968,-0.007 0.483349,-0.0296 0.967838,-0.0571 1.453736,-0.0778 0.17723,-0.007 0.355489,-0.0114 0.533099,-0.017 0.365499,-0.0114 0.730618,-0.0272 1.097507,-0.0353 0.555069,-0.0114 1.112397,-0.0194 1.670736,-0.0194 h 0.0175 c 0.008,0 0.0114,0 0.0196,0 0.557449,1.4e-4 1.112717,0.007 1.666954,0.0194 0.371919,0.007 0.742068,0.022 1.112567,0.0353 0.172159,0.007 0.344929,0.0101 0.516759,0.017 0.484928,0.022 0.967637,0.0481 1.449966,0.0778 0.0355,0.002 0.0713,0.005 0.10665,0.007 0.523808,0.033 1.046037,0.0721 1.566676,0.11542 36.245885,3.02259 64.662445,31.30939 64.714525,65.7822 v -10.473 c 1e-5,-36.53394 -31.8549,-66.14993 -71.151597,-66.14993 z" />
                    <path
                        style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 59.301691,203.79287 -0.842874,3.93069 c 2.824807,1.64583 6.650432,1.84605 11.666966,0.32607 l -0.205616,-4.2333 z" />
                    <path
                        style="fill:#f1f2f6;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 58.256394,207.58125 c 0.496512,1.38458 12.680216,0.58031 12.030848,0.33922 l 0.126544,6.90154 -13.278557,-0.0947 z" />
                    <path
                        style="fill:#3d557c;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 68.912055,148.46944 c -8.871051,7.20966 -15.160644,10.14658 -16.127344,15.65811 -0.713625,4.06864 4.776077,38.7654 6.080224,41.0252 1.304146,2.2598 9.482161,0.85866 11.341303,-0.23844 1.85913,-1.0971 1.50127,-27.24102 0.167271,-34.52386 3.12235,-2.7152 24.589596,-22.63029 24.589596,-22.63029 0,0 -20.836695,-3.52849 -26.051,0.70928 z" />
                    <path
                        style="fill:#5171a5;fill-opacity:1;stroke:none;stroke-width:1.74065375px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 329.00391,345.70898 c 0,0 -115.98571,8.4358 -153.5293,54.14454 -0.61443,0.55671 -8.69509,21.82049 4.80664,34.92187 13.50173,13.10138 34.24219,4.83594 34.24219,4.83594 14.14098,-8.97523 97.3682,-3.99922 135.6875,-11.74219 15.46033,-3.12397 36.85105,-6.142 48.33008,-17.95117 12.47671,-12.83554 10.35546,-52.4727 10.35546,-59.37695 z"
                        transform="matrix(0.26458333,0,0,0.26458333,-1.8708941e-8,57.36607)" />
                    <path
                        style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 71.180146,79.599818 c 2.501626,5.129124 8.129843,8.151005 1.334798,15.699255 0,0 2.812624,2.937111 6.131387,3.197568 3.318764,0.260471 10.281429,-6.721411 10.281429,-6.721411 -2.955342,-4.057203 -0.644093,-6.564353 1.022203,-10.621556 z" />
                    <path
                        style="opacity:1;fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:1.00349271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 94.394704,72.706672 c 5e-6,7.213209 -6.049899,11.363737 -13.060659,13.060684 -11.589636,2.80526 -13.577581,-5.451412 -13.060683,-13.060684 -4e-6,-7.213218 5.847465,-13.060687 13.060683,-13.060683 7.213208,9e-6 13.060663,5.847475 13.060659,13.060683 z" />
                    <path
                        d="m 70.02555,62.445644 c -0.101879,2.026326 7.143753,-0.612643 10.164636,2.906373 3.020871,3.519004 -1.276314,10.62107 0.875196,11.292659 2.151561,0.671377 2.317672,-4.024544 4.717469,-3.07115 2.399973,0.952946 0.745436,10.814415 2.724775,11.32533 1.978952,0.512361 7.757294,-10.30885 5.994793,-17.629475 -1.762501,-7.320624 -10.999493,-10.629998 -16.063698,-9.770139 -5.064206,0.859871 -8.311255,2.920177 -8.413171,4.946402 z"
                        style="fill:#2f2e41;fill-opacity:1;stroke:none;stroke-width:0.21776615px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                    <path
                        style="opacity:1;fill:#f1f2f6;fill-opacity:1;stroke:none;stroke-width:0.46127325;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 88.927361,91.774806 c 0,0 -6.888383,6.852629 -10.207146,6.592158 -3.317965,-0.260395 -6.203912,-3.066457 -6.205271,-3.067891 h -8.98e-4 l -0.0012,9.1e-4 c -1.441016,0.957672 -2.897844,2.229858 -4.09273,2.984571 -2.125298,1.268296 -5.04666,0.965391 -6.057279,3.408236 -0.258961,0.62596 -0.980454,3.68079 -0.980454,3.68079 0,0 4.035979,12.85525 4.116135,17.12034 0.08018,4.26508 -0.852838,22.70474 1.420316,26.61103 1.743409,2.99594 11.210657,0.0927 22.020857,1.05692 8.609084,0.76808 13.538159,4.76922 18.967019,1.13517 5.42891,-3.634 0.62059,-13.89411 0.38861,-17.68522 -0.23201,-3.79111 1.33928,-32.48768 -0.17094,-34.345901 -3.74111,-2.844922 -14.032883,-6.048139 -18.394051,-7.278764 -0.251367,-0.06559 -0.80236,-0.212274 -0.80236,-0.212274 z" />
                    <path
                        style="fill:#12161d;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 73.681024,104.30325 c 2.465664,3.36522 -1.790346,17.08105 -5.362946,23.44515 -2.289003,4.07753 -7.106106,19.79561 -9.955429,22.91856 -0.54164,0.59364 -0.533423,1.39762 -0.849459,1.41142 -1.462439,0.0639 -6.501031,-1.23101 -8.167377,-2.91912 -0.627258,-0.63546 0.869622,-1.40503 0.820441,-2.06479 -0.206525,-2.7713 4.655718,-17.69801 6.332265,-21.32019 1.807642,-3.90549 3.930796,-18.34714 5.416965,-21.29978 2.241281,-4.45291 10.015023,-2.56038 11.76554,-0.17129 z" />
                    <path
                        style="opacity:1;fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.39756751;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 71.877198,95.601903 c 0,0 -1.508362,1.318674 -3.633673,2.586982 -2.125312,1.268296 -5.028109,1.113807 -6.03874,3.556645 -0.258949,0.62596 -0.980455,3.68079 -0.980455,3.68079 0,0 4.193411,12.80277 4.273567,17.06786 0.08018,4.26509 -0.852838,23.62585 1.420316,27.53213 1.135442,1.95118 5.557351,1.4015 11.482213,1.04613 0,0 0.880845,-2.79223 0.825005,-4.43259 -0.125397,-3.68355 -1.206333,-10.7018 -1.715527,-17.90017 -0.394484,-5.57688 -0.226714,-11.18885 -0.392177,-15.90417 -0.119835,-3.41439 -1.600056,-10.44103 -1.980187,-11.37722 -0.511999,-1.26094 -3.260342,-5.856387 -3.260342,-5.856387 z" />
                    <path
                        style="opacity:1;fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.46127325;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 89.634089,91.894935 c 0,0 -4.603145,5.546707 -6.298832,9.331975 -0.06347,3.69451 -1.775495,7.01999 -1.984564,10.70847 -0.254946,4.49821 -0.712378,9.68802 -0.742742,14.24956 -0.04739,7.11881 0.420907,13.62532 0.289675,20.64195 -0.03916,2.85348 0.218895,5.0307 0.473879,5.02183 1.19107,-0.0415 4.933646,-0.0793 7.567553,0.15561 8.609084,0.76808 13.538152,4.76922 18.967032,1.13518 5.42889,-3.63402 0.62057,-15.73631 0.38858,-19.52741 -0.23199,-3.79111 1.43271,-32.59927 -0.0775,-34.457493 -2.71606,-3.342032 -18.583091,-7.259672 -18.583091,-7.259672 z" />
                    <path
                        style="opacity:1;fill:#f1f2f6;fill-opacity:1;stroke:none;stroke-width:0.19742931;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="M 39.718916,163.73519 H 86.417443 L 99.252719,153.52761 H 52.554192 Z" />
                    <path
                        style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 96.278088,147.1755 c 0,0 -2.286147,1.28539 -3.807743,1.89946 0,0 -7.681702,3.37382 -7.232675,7.36582 0.372299,3.30992 9.811502,2.31911 14.9212,-4.24681 0.96085,-1.2347 2.41846,-2.79122 2.41846,-2.79122 z" />
                    <path
                        style="fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 107.41507,98.357715 c 3.70822,1.911405 15.769,24.353725 13.86152,32.676655 -0.98434,4.29495 -11.84416,14.64741 -17.18564,18.84768 -1.4046,1.10447 -2.00249,2.46375 -2.4438,2.36782 -1.968887,-0.42795 -6.72734,-2.64257 -7.058764,-5.69488 -0.05711,-0.52604 1.00916,-0.95002 1.740367,-2.18661 3.108956,-5.25798 11.079327,-15.84764 11.369137,-16.73071 0.43727,-1.33232 -8.552251,-17.34186 -8.539761,-20.64741 0.0188,-4.9851 5.624281,-9.989527 8.256941,-8.632545 z" />
                    <path
                        style="fill:#000000;fill-opacity:0.25098039;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        d="m 99.252819,107.73397 c -0.0585,0.36476 -0.0934,0.73094 -0.0947,1.09805 -0.01,2.85702 6.692281,15.18768 8.232171,19.3461 0.16066,-0.25381 0.27997,-0.45515 0.30802,-0.54064 0.41054,-1.25086 -7.48838,-15.43766 -8.445471,-19.90351 z m 11.090091,36.68748 c -2.31147,2.17852 -4.55834,4.12936 -6.25131,5.46062 -1.40459,1.10448 -2.00289,2.46344 -2.4442,2.36751 -1.698631,-0.3692 -5.46724,-2.06995 -6.684334,-4.48952 -0.240094,0.23383 -0.397709,0.42788 -0.375039,0.63668 0.331412,3.05232 5.090482,5.26722 7.059373,5.69518 0.44131,0.0959 1.03961,-1.26304 2.4442,-2.36752 1.72316,-1.355 4.02082,-3.35364 6.37568,-5.57919 -0.0187,-0.56609 -0.0621,-1.14244 -0.12438,-1.72376 z" />
                    <path id="path92-1"
                        d="m 67.451199,213.51652 c 0,0 3.046525,-4.2095 3.33378,-3.13813 0.287268,1.07134 1.636528,10.01077 -1.035649,11.97684 -2.672189,1.96607 -4.231344,10.61549 -11.413055,10.34767 -7.18171,-0.26779 -8.043502,-0.53569 -8.043502,-0.53569 0,0 -0.914825,-2.58709 0.574536,-4.28541 0.9255,-0.57527 4.071194,-12.92268 5.372598,-13.1386 1.063254,-0.17644 1.223778,-3.68972 1.896664,-4.55038 0.672885,-0.86063 7.292056,-2.40544 7.718687,0.10961 0,1.87485 -0.415009,5.6246 1.595867,3.21404 z"
                        style="fill:#2f2e41;stroke-width:0.27738339" />
                    <g id="g4592" class="character-leg">
                        <path
                            d="m 27.224324,196.5508 -2.702303,2.97629 c 1.334348,4.06383 4.950717,5.6701 9.436421,6.34015 l 2.437457,-3.96537 z"
                            style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                        <path
                            d="m 24.750356,199.0704 c 1.763499,2.9227 4.587009,5.48393 9.540046,6.56484 l -3.683257,5.37885 -11.754555,-7.1044 z"
                            style="fill:#f1f2f6;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                        <path
                            d="m 30.477247,208.96013 c 0,0 2.4039,-1.65335 2.44439,-0.58605 0.0404,1.06736 -3.611942,10.99009 -5.379706,9.90605 -1.767713,-1.08403 -20.4077209,-6.95462 -22.3707995,-8.85343 -1.9631035,-1.89883 -6.7207126,-3.77394 -4.66709065,-5.98951 2.05369695,-2.2156 4.73390415,-0.91951 4.73390415,-0.91951 0,0 12.750746,0.17412 14.959307,-2.29408 2.208548,-2.46814 4.057265,0.75051 4.057265,0.75051 l -1.084054,1.76779 c 0,0 2.825419,7.29267 7.306784,6.21823 z"
                            style="fill:#2f2e41;stroke-width:0.29623628" />
                        <path transform="matrix(0.26458333,0,0,0.26458333,-1.8708941e-8,57.36607)"
                            d="m 173.53125,401.77539 c -16.91185,17.70648 -51.89289,80.77757 -65.68945,110.13086 -3.85553,8.2029 -9.258711,12.10121 -8.314456,14.32422 4.457896,10.49488 31.104616,27.82005 39.353516,24.22265 1.79109,-0.78111 6.2736,-2.79538 11.26562,-9.0039 17.99905,-22.38474 53.66288,-85.91757 65.36133,-108.11133 0.51711,-36.78731 -18.58338,-36.07276 -41.97656,-31.5625 z"
                            style="fill:#5171a5;fill-opacity:1;stroke:none;stroke-width:1.74065387px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                    </g>
                    <path
                        style="opacity:1;fill:#2f2e41;fill-opacity:1;stroke:none;stroke-width:0.33754501;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 26.883311,134.55751 h 46.992991 l 12.551378,29.17757 0.08754,0.54747 -46.79669,0.11248 z" />
                    <path
                        style="opacity:1;fill:#2f2e41;fill-opacity:1;stroke:none;stroke-width:0.19742931;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 39.718578,164.39502 c 0.144463,0.14498 45.86523,0.26042 46.698527,0 0.833298,-0.26042 12.686554,-9.93739 12.835264,-10.20758 0.14873,-0.27019 3.6e-4,-0.65983 3.6e-4,-0.65983 L 86.41718,163.73513 H 39.71864 c 0,0 -0.144526,0.5149 -6.2e-5,0.65989 z" />
                    <g transform="matrix(0.2717296,0,0.14934461,0.37833962,-307.6067,-159.75155)"
                        style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#f1f2f6;fill-opacity:1;stroke:#f1f2f6;stroke-width:1.00157475;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1">
                        <path
                            d="m 871.32812,829.68267 -18.32031,-9.10157 v -1.48437 l 18.32031,-10.09766 v 3.37891 l -13.61328,7.32422 v 0.0977 l 13.61328,6.52344 z" />
                        <path d="m 894.43359,801.94829 -14.51172,35.27344 h -3.57421 l 14.51171,-35.27344 z" />
                        <path
                            d="m 918.125,820.54204 -18.32031,9.10156 v -3.35937 l 13.63281,-6.46485 v -0.13671 l -13.63281,-7.32422 v -3.37891 l 18.32031,10.07813 z" />
                    </g>
                    <path
                        style="opacity:1;fill:#000000;fill-opacity:0.25098039;stroke:none;stroke-width:3.79272842;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                        d="m 326.13867,100.83008 c -5.82743,2.76323 -12.16827,4.92435 -18.73437,6.51367 -9.30326,2.25185 -16.96371,2.61164 -23.25,1.51563 0.69036,1.61197 1.24368,3.25691 1.61523,4.95507 4.09504,-0.18637 8.61788,-0.84609 13.61914,-2.05664 9.72434,-2.35376 18.9546,-5.96223 26.75,-10.92773 z"
                        transform="matrix(0.26458333,0,0,0.26458333,-1.8708941e-8,57.36607)" />
                </g>
            </svg>
        </div>
    </section>

    <section class="introduction">
        <div class="intro-text">
            <h2 class="intro-quote">
                Building amazing things with code is what I do, inspiring and teaching others to do the same is what I
                aspire.
            </h2>
            <p>- Leo Tian</p>
        </div>
    </section>

    <div class="section-separator"></div>

    <section class="coding-experience">

        <div class="web-dev-illustration-container">
            <div class="web-dev-illustration-circle">
                <svg viewBox="0 0 85.395051 97.27619" class="web-dev-illustration">
                    <g transform="translate(-49.078915,-207.12023)">
                        <ellipse
                            style="opacity:1;fill:#cfcfcf;fill-opacity:1;stroke:none;stroke-width:0.52999997;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                            cx="190.83044" cy="183.14319" rx="28.86511" ry="0" />
                        <path
                            style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 88.379048,229.35398 c -2.501626,5.12913 -8.129843,8.15101 -1.334798,15.69926 0,0 -2.812624,2.93711 -6.131387,3.19756 -3.318764,0.26048 -10.281429,-6.72141 -10.281429,-6.72141 2.955342,-4.0572 0.644093,-6.56435 -1.022203,-10.62155 z" />
                        <path
                            style="opacity:1;fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:1.00349271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                            d="m 65.16449,222.46084 c -5e-6,7.2132 6.049899,11.36373 13.060659,13.06068 11.589636,2.80526 13.577581,-5.45141 13.060683,-13.06068 4e-6,-7.21322 -5.847465,-13.06069 -13.060683,-13.06069 -7.213208,1e-5 -13.060663,5.84748 -13.060659,13.06069 z" />
                        <path
                            d="m 89.533644,212.19981 c 0.101879,2.02632 -7.143753,-0.61265 -10.164636,2.90637 -3.020871,3.519 1.276314,10.62107 -0.875196,11.29266 -2.151561,0.67138 -2.317672,-4.02454 -4.717469,-3.07115 -2.399973,0.95295 -0.745436,10.81441 -2.724775,11.32533 -1.978952,0.51236 -7.757294,-10.30885 -5.994793,-17.62948 1.762501,-7.32062 10.999493,-10.62999 16.063698,-9.77013 5.064206,0.85987 8.311255,2.92017 8.413171,4.9464 z"
                            style="fill:#2f2e41;fill-opacity:1;stroke:none;stroke-width:0.21776615px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                        <path transform="matrix(0.26458335,0,0,0.26458335,44.07828,207.12023)"
                            d="m 100.35742,130.04883 c 0,0 -2.083153,0.5548 -3.033201,0.80273 -1.736291,0.48994 -3.837043,1.10491 -6.015625,1.75 -14.311411,4.80131 -49.512023,17.38606 -58.375,27.99024 -8.435443,10.09265 -6.92701,69.44572 -6.058594,104.11328 0.228584,8.33412 0.38993,15.3201 0.373047,19.72656 -2.9e-5,0.0105 3.1e-5,0.0266 0,0.0371 -0.0045,1.54412 -0.03252,2.80015 -0.08789,3.70508 -0.535978,8.75877 -7.521726,29.24957 -8.195312,46.99805 0.383041,8.14087 2.936135,15.34152 9.662109,19.84374 20.518525,13.735 39.147279,-1.38803 71.685546,-4.29101 40.85745,-3.6443 76.63925,7.3291 83.22852,-3.99414 8.59144,-14.76393 5.06609,-84.45814 5.36914,-100.57813 0.30295,-16.12002 15.55664,-64.70703 15.55664,-64.70703 0,0 -2.72633,-11.54627 -3.70508,-13.91211 -3.81966,-9.23278 -14.86191,-8.08732 -22.89453,-12.88086 -4.51611,-2.85248 -10.02239,-7.65975 -15.46875,-11.27929 l -0.004,-0.004 h -0.004 c -0.005,0.005 -10.91278,10.61151 -23.45312,11.5957 -12.54336,0.98446 -38.57812,-24.91601 -38.57812,-24.91601 z"
                            style="opacity:1;fill:#f1f2f6;fill-opacity:1;stroke:none;stroke-width:1.74339485;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                            style="opacity:1;fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.39756751;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                            d="m 87.681996,245.35607 c 0,0 1.508362,1.31867 3.633673,2.58698 2.125312,1.26829 5.028109,1.11381 6.03874,3.55664 0.258949,0.62596 0.980455,3.68079 0.980455,3.68079 0,0 -4.193411,12.80277 -4.273567,17.06786 -0.08018,4.26509 0.852838,23.62585 -1.420316,27.53213 -1.135442,1.95118 -5.557351,1.4015 -11.482213,1.04613 0,0 -0.880845,-2.79223 -0.825005,-4.43259 0.125397,-3.68355 1.206333,-10.7018 1.715527,-17.90017 0.394484,-5.57688 0.226714,-11.18885 0.392177,-15.90417 0.119835,-3.41439 1.600056,-10.44103 1.980187,-11.37722 0.511999,-1.26094 3.260342,-5.85638 3.260342,-5.85638 z" />
                        <path
                            style="opacity:1;fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.46127325;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                            d="m 69.925105,241.6491 c 0,0 4.603145,5.54671 6.298832,9.33197 0.06347,3.69451 1.775495,7.01999 1.984564,10.70847 0.254946,4.49821 0.712378,9.68802 0.742742,14.24956 0.04739,7.11881 -0.420907,13.62532 -0.289675,20.64195 0.03916,2.85348 -0.218895,5.0307 -0.473879,5.02183 -1.19107,-0.0415 -4.933646,-0.0793 -7.567553,0.15561 -8.609084,0.76808 -13.538152,4.76922 -18.967032,1.13518 -5.42889,-3.63402 -0.62057,-15.73631 -0.38858,-19.52741 0.23199,-3.79111 -1.427695,-30.22022 1.527437,-33.75591 2.955132,-3.53569 17.133154,-7.96125 17.133154,-7.96125 z" />
                        <path
                            style="opacity:1;fill:#000000;fill-opacity:0.25098039;stroke:none;stroke-width:1.00349271;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                            d="m 73.268339,233.79819 c 1.541841,0.73111 3.219521,1.3029 4.956802,1.72341 2.461487,0.5958 4.488315,0.691 6.151562,0.40101 -0.182657,0.4265 -0.329057,0.86172 -0.427363,1.31103 -1.083479,-0.0493 -2.280147,-0.22386 -3.603397,-0.54415 -2.572898,-0.62277 -5.015071,-1.57751 -7.077604,-2.8913 z" />
                        <path
                            style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.55754721px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 79.550145,242.85357 c -1.13377,-1.6606 1.107187,-4.77052 0.07695,-7.63443 0,0 -2.674238,-3.61263 -1.346538,-4.28676 1.327695,-0.67411 2.443226,2.15311 3.698884,3.09381 2.175277,1.62964 10.523762,-7.69849 11.06927,-5.43985 0.365892,1.515 -5.734799,5.31364 -5.337324,5.98981 0.474092,0.80648 4.514475,3.48494 1.466666,6.2386 -1.405386,1.26976 -4.47902,3.67218 -4.47902,3.67218 z" />
                        <path
                            style="fill:#000000;fill-opacity:0.25098039;stroke:none;stroke-width:2.107265px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 362.94336,674.98242 c -8.754,4.7867 -25.73724,21.07002 -33.86328,21.27344 6.13226,3.53059 23.15937,-12.34085 33.42578,-19.12695 0.15845,-0.70846 0.30351,-1.42371 0.4375,-2.14649 z m -49.04102,8.47852 c -0.45743,0.0227 -0.92018,0.1459 -1.39062,0.38476 -5.01808,2.5479 5.08789,16.20118 5.08789,16.20118 3.34378,9.2952 -2.42045,19.27376 -1.4043,25.88281 0.6981,-0.18657 1.41613,-0.31851 2.15039,-0.40235 -0.4233,-6.59403 4.69877,-16.09923 1.50391,-24.98046 0,0 -10.10597,-13.65328 -5.08789,-16.20118 0.39035,-0.19804 0.77497,-0.30747 1.15625,-0.35547 -0.66163,-0.35527 -1.33101,-0.56376 -2.01563,-0.52929 z"
                            transform="matrix(0.26458333,0,0,0.26458333,-5,49.866066)" />
                        <path
                            style="fill:#000000;fill-opacity:0.25098039;stroke:none;stroke-width:1.74065375px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 345.86133,741.20898 c -0.65566,2.18231 -1.5327,5.06704 -1.77735,8.45899 -1.84792,25.61578 -13.66827,94.68991 -41.97656,99.73047 -28.09975,5.00343 -55.26417,-53.47358 -85.01953,-72.20117 -0.0366,1.47954 0.0211,-1.59288 0,0 15.20371,8.56734 44.11823,74.70816 85.56246,77.29492 28.30829,-5.04061 40.12863,-74.11465 41.97656,-99.73047 0.48582,-6.73588 3.47657,-11.48714 2.24219,-12.66602 -0.29062,-0.27755 -0.65582,-0.58459 -1.00781,-0.88672 z"
                            transform="matrix(0.26458333,0,0,0.26458333,-5,49.866066)" />
                        <path
                            style="fill:#181d27;fill-opacity:1;stroke:none;stroke-width:1.74065375px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 319.91602,725.41602 c -2.27764,0.0529 -4.43965,0.5185 -6.36329,1.53515 -1.76813,0.93447 -0.83738,5.17134 -3.16211,10.07813 -9.88495,20.86345 -18.02929,60.67578 -18.02929,60.67578 -3.79698,0.22244 -28.42732,-43.29063 -52.19141,-56.48047 -9.57911,4.45329 -18.0256,9.26576 -21.74414,13.71484 -2.77262,3.31733 -4.46766,11.97325 -5.4668,23.32227 27.90134,22.03564 61.62416,76.0377 89.14844,71.13672 28.30829,-5.04058 40.12863,-74.11468 41.97656,-99.73047 0.48582,-6.73591 3.47657,-11.48518 2.24219,-12.66406 -3.44193,-3.28723 -11.37677,-8.50986 -19.34765,-10.64063 -2.39127,-0.63923 -4.78487,-1.00016 -7.0625,-0.94726 z"
                            transform="matrix(0.26458333,0,0,0.26458333,-5,49.866066)" />
                        <path
                            style="fill:#000000;fill-opacity:0.25098039;stroke:none;stroke-width:1.74065387px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 259.57812,757.48828 c 15.86245,17.0576 29.19778,38.99175 32.5,40.16211 0.0984,0.0245 0.20334,0.0594 0.28321,0.0547 0,0 3.87845,-18.95301 9.52929,-37.5586 -6.83717,17.26277 -9.88281,32.54883 -9.88281,32.54883 -2.99082,0.17514 -15.77545,-20.48721 -32.42969,-35.20703 z"
                            transform="matrix(0.26458333,0,0,0.26458333,-5,49.866066)" />
                        <g class="web-dev-illustration-arm" transform="rotate(-1.8601349,88.960748,242.33233)">
                            <path
                                d="m 87.802348,259.90729 c 2.173672,3.56081 16.507942,7.50318 23.657752,6.0384 8.33042,-2.87854 5.6403,-13.62157 -2.75802,-11.7472 -4.11496,1.25999 -12.967828,-5.35698 -16.263876,-5.1063 -4.970792,0.37804 -6.179041,8.28707 -4.635896,10.81507 z"
                                style="fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                            <g class="web-dev-illustration-forearm" transform="rotate(2.8726735,110.39128,260.76187)">
                                <path
                                    d="m 127.75503,236.53855 c -1.12254,0.37291 -2.10576,1.74609 -2.62482,2.47964 0.56037,0.032 1.99409,-1.08952 2.61772,-0.97047 0.72593,0.13857 1.8098,0.19307 2.47843,0.90212 0.94022,1.51462 0.28466,2.8113 1.20806,2.88582 0.92341,0.0745 0.97909,-2.62977 0.0845,-3.9152 -0.89456,-1.28543 -2.64139,-1.75484 -3.76392,-1.38191 z"
                                    style="fill:#bf8660;fill-opacity:1;stroke:none;stroke-width:0.55754721px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                                <path
                                    d="m 122.84931,244.96898 c -1.04459,-1.71809 -0.20644,-5.00416 0.4328,-5.93594 0.7026,-3.20698 9.03748,-6.97646 9.89704,-5.3503 0.24917,0.54349 -0.92751,0.88083 -2.05938,1.50751 -1.54367,0.85469 -3.28557,1.98608 -3.81093,2.50058 -0.91058,0.89175 -1.55687,2.35386 -1.17855,3.30543 0.28472,0.71615 1.4308,2.10932 3.08406,1.8598 0.96367,-0.14544 1.61974,-0.66812 2.14726,-1.18569 0.61219,-0.60065 0.45576,-2.10546 1.34202,-2.06589 1.42773,0.0637 0.7735,3.25647 -0.0826,4.11988 -1.57788,1.59129 -4.3471,3.47129 -4.71617,3.14735 z"
                                    style="fill:#ffb380;fill-opacity:1;stroke:none;stroke-width:0.55754721px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                                <path
                                    d="m 111.46014,265.94572 c 6.62041,-1.35632 15.37057,-12.85715 16.39568,-16.95845 0.19488,-0.77961 0.86914,-1.21757 0.70579,-1.48847 -0.75584,-1.25359 -4.62209,-4.73444 -6.95022,-5.1886 -0.87637,-0.17101 -0.6893,1.50173 -1.26613,1.82575 -2.4228,1.36117 -7.86952,8.9071 -11.64314,10.06257 -5.52103,2.01381 -7.80157,10.62888 2.75802,11.7472 z"
                                    style="fill:#181d27;fill-opacity:1;stroke:none;stroke-width:0.46054798px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <div class="web-dev-icons">
                <img src="images/React.png" class="web-dev-react">
                <img src="images/Firebase.png" class="web-dev-firebase">
            </div>
        </div>

        <div class="skill-list">
            <h2>My Coding Experience</h2>
            <div class="skill">
                <h3 class="skill-name">CSS</h3>
                <div class="skill-bar">
                    <div class="skill-bar-filled" data-skill-percentage="95"></div>
                </div>
            </div>
            <div class="skill">
                <h3 class="skill-name">Javascript</h3>
                <div class="skill-bar">
                    <div class="skill-bar-filled" data-skill-percentage="90"></div>
                </div>
            </div>
            <div class="skill">
                <h3 class="skill-name">React</h3>
                <div class="skill-bar">
                    <div class="skill-bar-filled" data-skill-percentage="75"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="volunteering-section">

        <div class="volunteering-experience">
            <h2>Always Learning,</h2>
            <h2>Forever Growing</h2>
            <h3>One Step at a Time</h3>
            <a href="/my-experience"><button>My Experience</button></a>
        </div>

        <div class="experience-graphic-container">
            <div class="experience-graphic-sun"></div>
            <div class="experience-graphic-shooting-star"></div>
            <div class="experience-graphic-star star-0"></div>
            <div class="experience-graphic-star star-1"></div>
            <div class="experience-graphic-star star-2"></div>
            <div class="experience-graphic-star star-3"></div>
            <div class="experience-graphic-star star-4"></div>
            <div class="experience-graphic-star star-5"></div>
            <div class="experience-graphic-star star-6"></div>
            <div class="experience-graphic-star star-7"></div>
            <div class="experience-graphic-star star-8"></div>
            <div class="experience-graphic-star star-9"></div>
            <img src="./images/ExperienceSectionHill.svg" alt="">
        </div>

        <svg viewBox="0 0 400 400" width="0" height="0">
            <defs>
                <clipPath id="blob-shift" clipPathUnits="objectBoundingBox">
                    <path
                        d="M 0.978461 0.485751 C 0.979721 0.593975 0.897663 0.753837 0.817829 0.831129 C 0.737995 0.90842 0.60323 0.951653 0.499457 0.949498 C 0.395683 0.947343 0.269947 0.893114 0.195187 0.818198 C 0.120428 0.743282 0.0538319 0.606787 0.0508994 0.5 C 0.0479669 0.393213 0.104795 0.251005 0.177592 0.177476 C 0.250389 0.103947 0.382237 0.0581079 0.487683 0.0588261 C 0.593128 0.0595444 0.728468 0.110632 0.810265 0.181786 C 0.892061 0.25294 0.9772 0.377527 0.978461 0.485751 C 0.979721 0.593975 0.897663 0.753837 0.817829 0.831129"
                        id="blob"></path>
                </clipPath>
            </defs>
        </svg>
    </section>

    <script src="javascripts/index.js"></script>
    <script src="javascripts/blob.js"></script>
</body>

</html>