<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Leo Tian</title>
    <link rel="icon" href="/images/BrandingIcon.svg">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/experience.css">
</head>

<body>

    <%- include("../templates/header") %>

</body>

</html>