<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me - Leo Tian</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/resume.css">
</head>

<body>

    <%- include("../templates/header") %>

        <iframe src="/resources/resume.pdf"></iframe>

</body>

</html>